/*------------------------------------------------------------------------------
     Global Documentation Styles
------------------------------------------------------------------------------*/

html {
  height:100%;
}

body {
  font: 14px helvetica,arial,freesans,clean,sans-serif;
  line-height: 1.4em;
  background-color: #000;
  color: #00ff00;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

p {
  margin: 1em 0;
}

h1 {
  font-size: 24px;
  border-bottom: 1px solid #00ff00;
  padding: .5em 0;
  margin: 2em 0 1em;
  color: #6f0;
}

h1:first-child {
  margin: 0 0 1em;
}

h2 {
  font-size: 16px;
  color: #6f0;
  margin: 2em auto 1em;
}

h2 span.step {
  color: #666;
}

h3 {
  font-size: 14px;
  color: #6f0;
  margin: 1.5em 0 .5em;
}

h5 {
  font-size: 13px;
}

h6 {
  font-size: 13px;
}

.lnk a {
  color: #ccff00;
  text-decoration: none;
}

.lnk a:hover {
  color: black;
}

.undec {
  text-decoration: none;
  color: black;
}

a {
  color: #cf0;
  text-decoration: none;
}

a:hover {
  color: #cf0;
}

a:hover,
a:active {
  text-decoration:underline;
}

blockquote {
  margin:0 -5px;
  padding: 0px 20px;
}

ul,
ol {
  margin: 0px;
  padding: 0px;
}

dt {
  font-weight: bold;
}

dd {
  padding-left: 1em;
  margin-bottom: 1em;
}

dd + dd {
  margin-bottom: 0;
}

span.attention,
p.attention {
  color: #e98400;
  font-style: italic;
}

a img {
  border: 0px;
}

.content img {
  max-width: 100%;
  border: 1px solid #dddddd;
  -webkit-box-shadow: 1px 1px 3px #ddd;
  -moz-box-shadow: 1px 1px 3px #ddd;
  box-shadow: 1px 1px 3px #ddd;
}


.content .description {
  margin-left: 20px;
}

.content .verseblock-content {
  padding: 3px;
}

.content .verseblock-content,
.content .sectionbody .dlist dt,
.content p > tt,
.content dl code,
.content ul code,
p code {
  font: 12px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
  color: #dddddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #066;
  background-color: #002020;
  padding: 0px 3px;
  display: inline-block;
}

.content .sectionbody .dlist dt {
  margin-top: 10px;
}

.content .verseblock-content {
  padding: 3px;
}

.content .intro {
  color: #868686;
}

code {white-space: nowrap;}

pre {
  border: 1px solid #066;
  line-height: 1.2em;
  font: 12px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
  padding: 10px;
  overflow:auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #002020;
  color: #dddddd;
  margin: 0px;
}

ul + pre {
  margin-top: 1em;
}

pre code {white-space: pre;}

pre span.comment {color: #aaa;}

#outer {
  /* This should have been to put the footer at the bottom,
   * but that requires setting same to an absolute size. Yuck.
   */
  margin: 0px;
  padding: 0px;
  min-height: 100%;
}

#main {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  height: auto;
}

#wrapper {
  padding: 20px 25px;
  margin: -10px auto 0;
  /* background: url(../images/background-white.png) 0 0 no-repeat; */
}

#headimg {
  display: block;
  margin: 0 auto;
  overflow:hidden;
}

#footer {
  position: relative;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  margin: 45px auto 0;
}

#footer li {
  list-style: none;
}
