<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>apk - {{ page.title }}</title>
    <link href="/shared/css/the.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/shared/css/pygments.css" media="screen" rel="stylesheet" type="text/css">
  </head>
  
  <body>
    <div id="outer">
      <div id="main">
	<div style="font-family: sans-serif;
		    background-image: url(//apk.li/branch.jpg);
		    padding: 0px; padding-right: 5px; margin: 0px; margin-bottom: 10px;
		    border: 1px solid black;
		    height: 120px;
		    line-height: normal;
		    box-shadow: 0 0 10px yellow; " align="right">
	  <ul style="list-style-type:none; margin: 0px; ">
	    <li class='lnk'><font size=-1 color=white><a href='http://apk.li/' class='undec'>apk.li</a></font></li>
	    <li class='lnk'><font size=25 color=white><a href='http://blog.apk.li/' class='undec'>blog.apk.li</a></font></li>
	    <li><font color=white>Andreas Krey</font></li>
	    <li class='lnk'><font color=white><a href='https://www.google.de/maps/@48.425,10,17z' class='undec'>10E48.4&frac14;N</a></font></li>
	  </ul>
	</div>
        <div id="wrapper">
          <div id="content" class="site">
	    <div style='position: relative; '>
	      <div style='width: 112px; position: absolute; top: 0; left: -202px;'>
		<div style='width: 112px; position: fixed; '>
		  <img src="http://ken.apk.li/blogvert.png"/>
		</div>
	      </div>
	    </div>

            {{ content }}

          </div>
        </div>
      </div>
      <div id="footer">
        <div align="center">
	  <a href="https://twitter.com/akrey">@akrey</a>
	</div>
	<div align="center">
	  <a href="/contact.html">Contact</a>
	</div>
      </div>
    </div>
  </body>
</html>
