<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>apk - {{ page.title }}</title>
    <link href="/shared/css/the.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/shared/css/pygments.css" media="screen" rel="stylesheet" type="text/css">
  </head>
  
  <body>
    <div id="outer">
      <div id="main">
        <div id="wrapper">
	  <img id="headimg" src="http://ken.apk.li/blog.apk.li.png"/>
          <div id="content" class="site">

            {{ content }}

          </div>
        </div>
      </div>
      <div id="footer">
        <div align="center">
	  <a href="https://twitter.com/akrey">@akrey</a>
	</div>
	<div align="center">
	  <a href="/contact.html">Contact</a>
	</div>
      </div>
    </div>
  </body>
</html>
