---
layout: default
---

{{ content }}

<div align="center">
  {% if page.previous.url %}
    <a href="{{page.previous.url}}"
       title="Previous: {{page.previous.title}}">&laquo;
      {{page.previous.title}}</a>
  {% else %}
     &laquo;
  {% endif %}
  &middot;
  <a href="/" title="Home">&nabla;</a>
  &middot;
  {% if page.next.url %}
    <a href="{{page.next.url}}"
       title="Next: {{page.next.title}}"
    >{{page.next.title}} &raquo;</a>
  {% else %}
     &raquo;
  {% endif %}
</div>
